@charset "UTF-8";

/*
    em HTML é id       = em CSS é # (só pode um elemento)
    em HTML é class    = em CSS é . (pode vários elementos)
*/

body {
    background-color: rgb(131, 214, 131);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(34, 119, 34);
}

h1#principal {
    text-align: center;
    background-color: rgb(131, 214, 131);
    color: white;
}

h2 {
    color: rgb(14, 66, 14);
}

.basico {
    color: rgb(55, 55, 177);
}

.intermediario {
    color: rgb(228, 228, 99);
}

.avançado {
    color: rgb(199, 63, 63);
}